@font-face {
  font-family: 'bison';
  src: url('./assets/fonts/bison-bold-webfont.eot');
  src: url('./assets/fonts/bison-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/bison-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/bison-bold-webfont.woff') format('woff'),
       url('./assets/fonts/bison-bold-webfont.svg#bisonbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.text, .text1{
  font-family: 'bison', sans-serif;
  font-size: 40px;
}

article .text{
  font-size: 27px;
}

.text1{
  font-size: 18px;
}

.text3{
  font-size: 100px;
}

.rose{
  background-color: #DF80AC;
}

.white{
  background-color: white;
}

.spin{
  animation: spin 20s linear infinite;
}

@keyframes spin{
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}